html, body {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;;
}

/* Flower on top of page */
.hero-flower img {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0;
}

/* names */
.wedding-title {
    text-align: center;
    margin: 1em 0;
}

.wedding-title h1 {
    font-size: 6em;
    margin: 0;
    color: #494747;
}

.wedding-title .date-location {
    font-size: 2em;
    color: #565656;
    margin-top: 0.6em;
}

/* Uploaded image */
.user-header-image {
    text-align: center;
    margin: 2em 0;
}

.user-header-image img {
    width: 90%;
    max-width: 1000px;
    height: auto;
}

.date-venue-row {
    display: flex;
    justify-content: center;
    align-items: stretch; 
    max-width: 600px;
    margin: 1.5rem auto;
    border-radius: 12px;
    overflow: hidden;
}

.date-container, .city-container {
    flex: 1;
    text-align: center;
    font-size: 3em;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    position: relative; 
}

/* Line between date and city */
.separator {
    width: 2px;
    background-color: #383231; 
    margin: 0;
}

/* Registry btn */
.registry-btn {
    text-align: center;
    margin: 2em 0;
}

.btn-primary {
    background-color: #7f997f;
    color: white;
    border: none;
    padding: 0.5em 1.2em;
    font-size: 1.2em;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 1em;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.btn-primary:hover {
    background-color: #9caf9c;
}

.btn-primary:active {
    background-color: #9caf9c;
}

.wedding-info {
    text-align: center;
    max-width: 500px;
    margin: 3em auto 8em;
    color: #333;
}

.wedding-info p {
    margin: 0.5em 0;
}

.big-info {
    font-size: 2em;
}

.small-info {
    font-size: 1.4em;
}

.end-container {
    border: 1px solid gray;
    border-radius: 50px;
    text-align: center;
    padding: 0.5em;
    margin: 0 auto 6em;
    font-size: 1.4em;
    width: 200px;
}
